body {
    font-family: 'Times New Roman', Arial, sans-serif, serif;
    background-color: var(--e-global-color-3);
    margin: 0px;
    padding: 0px;
    border: 0px;
    scroll-behavior: smooth;
}

/* Variaveis Globais */
*{
    --e-global-color-1: #F22E52;
    --e-global-color-2: #400324;
    --e-global-color-3: #7141D9;
    --e-global-color-4: #632075;
    --e-global-color-5: #00010D;
    --e-global-color-6: #F29F05;
}

/*Barra de Navegação - Fixa, horizontal*/
header nav{
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
}

header nav ul{
    list-style-type: none;
    font-stretch: condensed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    display: block;
    padding: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header nav ul li a:hover:not(.active):not(.logoA){
    color: rgb(10, 9, 9);
    background-color: rgb(239, 254, 255);
}
.active{
    background-color: #474747;
}

/*Logo da ElGames*/
.logoBarra{
    float: left;
    background-color: #333;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}


section{
    width: 100%;
}

/* Rodapé */
footer {
    width: 100%;
    background-color: var(--e-global-color-4);
    color: #fff;
    font-size: 0.875em;
    position: initial;
    bottom: 0;
}
.main_footer .content {
    float: left;
    width: 90%;
    margin: 0 10px;
    padding: 10px 0;
}
.container {
    float: left;
    width: 100%;
}

.subfooter {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2em;
}

.subfooter ul {
    width: 100%;
    float: left;
}

.subfooter ul li {
    padding: 0.2em 0em;
}

.subfooter ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

.subfooter ul li a i {
    font-size: 0.5em;
}

.subfooter ul li a:hover {
    text-decoration: underline;
}

.subfooter .titleFooter {
    font-family: 'open_sansregular';
    font-size: 1.3em;
    color: #ffffff;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px #ffffff solid;
}

.subfooter p {
    font-family: 'open_sanslight';
    color: #ffffff;
    font-size: 1em;
    height: 25px;
}

.botao {
    padding: 10px 12px;
    color: #fff;
    font-family: 'open_sansregular';
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 7px;
}

.botao::before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: var(--e-global-color-1);
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.botao:hover::before {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.botao {
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    font-family: 'open_sansregular';
    border: 1px solid #ffffff;
    border-radius: 3px;
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: transparent !important;
    z-index: 10;
}

.botao:hover {
    border: 1px solid var(--e-global-color-5);
    color: var(--e-global-color-4)!important;
}

.botao::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: white;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.botao::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: var(--e-global-color-1);
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.botao:hover::before,
.botao:hover::before {
    opacity: 1;
    width: 120%;
}

.botao:hover::after,
.botao:hover::after {
    opacity: 1;
    width: 150%;
}

.main_footer_copy {
    background-color: var(--e-global-color-5);
    width: 100%;
    float: left;
    text-align: center;
    padding: 1.5em 0em;
}

.main_footer_copy p {
    font-family:2 'open_sanslight';
    font-size: 1em;
    color: #e1e0e0;
    height: 20px;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 0.96em;
}

.main_footer_copy .by a {
    color: #fff;
    text-decoration: none;
}

.main_footer_copy .by a:hover {
    text-decoration: underline;
}

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em) {

    .subfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .subfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
}

}
