body {
    font-family: 'Times New Roman', Arial, sans-serif, serif;
    background-color: var(--e-global-color-7);
    margin: 0px;
    padding: 0px;
    border: 0px;
    scroll-behavior: smooth;
}

/* Variaveis Globais */
*{
    --e-global-color-1: #ce8912;
    --e-global-color-2: #1f0340;
    --e-global-color-3: #e7d3fd;
    --e-global-color-4: #00193a;
    --e-global-color-5: #00010D;
    --e-global-color-6: #F29F05;
    --e-global-color-7: #ffffff;
}

/* Cabeçalho */
/*Barra de Navegação - Fixa, horizontal*/
header nav{
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    margin: 0;
    padding: 0;
}

header nav ul{
    list-style-type: none;
    font-stretch: condensed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    display: block;
    padding: 12px;
    color: var(--e-global-color-7);
    text-decoration: none;
}
header nav ul li a:hover:not(.active):not(.logoA){
    color: rgb(10, 9, 9);
    background-color: var(--e-global-color-7);
}
.active{
    background-color: #474747;
}

/* Menu - Usuario */
.user{
    right: 0;
    position: fixed;
    margin: 0 10px;
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    padding: 12px;
    color: var(--e-global-color-7);
}
.dropdown {
    position: relative;
    display: inline-block;
}  
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #fff;
    min-width: 130px;
    box-shadow: 3px 6px 16px 0px rgb(0 0 0 / 50%);
    z-index: 11;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    right: 0;
}  
.dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #b9b9b9;
}
.dropdown-content a:hover {
    background-color: #8d8d8d
}  
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    color: rgb(10, 9, 9);
    background-color: var(--e-global-color-7);
}

/* Seção - Membros - Titular */
.scn_title {
    width: 100%;
    margin: auto;
    text-align: center;
}
.scn_title h1{
    color: var(--e-global-color-6);
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: bold;
    margin: 5px auto;
    border-bottom: 4px solid var(--e-global-color-6);
    width: 60%;
}

section h1,
section h2,
section h3 {
    color: var(--e-global-color-5);
    text-transform: capitalize;
    font-weight: bold;
    margin: 5px auto;
}

section  p {
    color: var(--e-global-color-5);
    text-transform: capitalize;
    font-size: medium;
    margin: 3px auto;
}

/* SubMenu*/
.submenu{
    font-family: 'open_sansregular';
    margin-bottom: 0.2em;
    border-bottom: 2px var(--e-global-color-1) solid;
    width: 60%;
    color: var(--e-global-color-5);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(181deg, #bdbdbd, #bdbdbd, var(--e-global-color-1));
    margin-left: 10px;
    padding: 2px 10px;
    cursor: pointer;
}

section#scn_fases{
    overflow: hidden;
    max-height: 701px;
    transition: max-height 1s ease-in-out;
}  
section#scn_fases.hide {
    max-height: 0;
    pointer-events: none;
    /* transition: max-height 1s ease-in-out; */
}

section#scn_dados{
    overflow: hidden;
    max-height: 701px;
    transition: max-height 1s ease-in-out;
    overflow-x: auto;
} 
section#scn_dados.hide {
    max-height: 0;
    pointer-events: none;
    /* transition: max-height 1s ease-in-out; */
}


/* Formulario - Cadastrar Fase */
.fld_form{
    background: linear-gradient(45deg, #ffffff, #000000);
    border: 1px solid #858585;
    border-radius: 1em;
}
.fld_form h1, .fld_form h2{
    color: var(--e-global-color-5);
    margin: 5px auto;
}
.fld_form label{
    color: var(--e-global-color-5);
    margin: 3px auto;
}
.fld_form #ftitle,.fld_form #fdesc,.fld_form #fdata {
    padding: 3px 4px;
    border: 1px solid var(--e-global-color-6);
    border-radius: 2px;
}
.fld_form #ftitle:focus-visible,.fld_form #fdesc:focus-visible,.fld_form #fdata:focus-visible {
    outline: none;
}

.fld_form #fdesc{
    width: 70%;
    min-height: 8em;
}

.btn_group{
    text-align-last: justify;
    margin: 0 7em;
}
.btn_action{
    padding: 6px 8px;
    color: var(--e-global-color-5);
    border: none;
    border-radius: 3px;
    background-color: #6f6f6f;
    transition: background-color, padding, color;
    transition-duration: 1s, 1s, 1s;
}
.btn_action:hover{
    padding: 5px 6px;
    background-color: var(--e-global-color-6);
    color: var(--e-global-color-7);
}

/* Section Dados */
#scn_dados table {
    width: 95%;
    column-width: auto;
    text-align: center;
    margin-left: 10px;
}

#scn_dados th {
    background-color: var(--e-global-color-1);
}
#scn_dados td {
    background-color: var(--e-global-color-7);
}
#scn_dados table,
#scn_dados th,
#scn_dados td {
    border: 1px solid black;
    border-collapse: collapse;
}
#scn_dados th, #scn_dados td {
    min-height: 20px;
    min-width: 4em;
    padding: 5px 2px;
}
#scn_dados td.function {
    min-width: 4.4em;
}
@media (max-width: 450px) {
    #scn_dados table{
        font-size: small !important;
    }
}

iframe{
    display: none;
}
/* The Modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
button#btn_update {
    border: none;
}
.wrap-login {
    width: 35%;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px;
    background: -webkit-linear-gradient(120deg, #000000, #cfcfcf);
    /* background: -webkit-linear-gradient(top,#000000,#61008b); */
}
.login-form-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-style: italic;
}
.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #ffffff3d;
    margin-bottom: 30px;
}
.input {
    /* font-family: Poppins-Regular; */
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 5px 0 38px;
    outline: none;
    border: none;
    -webkit-text-fill-color: #fff;
}
.input:focus {
    padding-left: 5px;
}
.input:focus+.focus-input::before {
    width: 100%;
}
.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    background-color: #fff;
}
.input:focus+.focus-input::after {
    top: -22px;
    font-size: 18px;
}

.focus-input::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #fff;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0;
    padding-left: 5px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

textarea#fdesc_upd {
    width: 100%;
    min-height: 4em;
    resize: none;
    padding-top: 7px;
}

textarea#fdesc_upd:focus {
    width: 98% !important;
}

.textarea {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    outline: none;
    border: none;
    -webkit-text-fill-color: #fff;
}

*,
::after,
::before {
    box-sizing: inherit;
}

button,
input {
    overflow: visible;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.validate-input {
    position: relative;
}

/* Label */
label.lbl_form {
    font-size: 16px;
}

label {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;
    -webkit-text-fill-color: #fff;
}

/* Btn Login */
.ctn-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
    background: linear-gradient(bottom, #7579ff, #b224ef);
    position: relative;
    z-index: 1;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin: 10px;
}

.login-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

button {
    outline: none !important;
    border: none;
    background: 0 0;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Butão - Fases */
.btn_tabela{
    padding: 6px 8px;
    color: var(--e-global-color-5);
    border: none;
    border-radius: 3px;
    background-color: transparent;
    font-size: 15pt;
    transition: background-color, padding;
    transition-duration: 1s, 1s;
}
.btn_tabela:hover{
    padding: 5px 6px;
    background-color: var(--e-global-color-6);
}

/* Rodapé */
footer {
    width: 100%;
    background-color: var(--e-global-color-4);
    color: var(--e-global-color-7);
    font-size: 0.875em;
    position: initial;
    bottom: 0;
}
.main_footer .content {
    width: 90%;
    margin: 0 10px;
    padding: 10px 0;
}
.container {
    width: 100%;
}
.subfooter {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}
.subfooter ul {
    width: 100%;
}
.subfooter ul li {
    padding: 0.2em 0em;
}
.subfooter ul li a {
    text-decoration: none;
    color: var(--e-global-color-7);
    font-size: 1em;
}
.subfooter ul li a i {
    font-size: 0.5em;
}
.subfooter ul li a:hover {
    text-decoration: underline;
}
.subfooter .titleFooter {
    font-family: 'open_sansregular';
    font-size: 1.3em;
    color: var(--e-global-color-7);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px var(--e-global-color-7) solid;
}
.subfooter p {
    font-family: 'open_sanslight';
    color: var(--e-global-color-7);
    font-size: 1em;
    height: 25px;
}
.main_footer_copy {
    background-color: var(--e-global-color-5);
    width: 100%;
    text-align: center;
    padding: 1.5em 0em;
}
.main_footer_copy p {
    font-family:2 'open_sanslight';
    font-size: 1em;
    color: #e1e0e0;
    height: 20px;
}
.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}
.main_footer_copy .by {
    font-size: 0.96em;
}
.main_footer_copy .by a {
    color: var(--e-global-color-7);
    text-decoration: none;
}
.main_footer_copy .by a:hover {
    text-decoration: underline;
}

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em) {

    .subfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .subfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
    }
}



