body {
    font-family: 'Times New Roman', Arial, sans-serif, serif;
    background-color: var(--e-global-color-7);
    margin: 0px;
    padding: 0px;
    border: 0px;
    scroll-behavior: smooth;
}

/* Variaveis Globais */
* {
    --e-global-color-1: #2ef2cb;
    --e-global-color-2: #400324;
    --e-global-color-3: #e7d3fd;
    --e-global-color-4: #00193a;
    --e-global-color-5: #00010D;
    --e-global-color-6: #F29F05;
    --e-global-color-7: #ffffff;
}

/* Cabeçalho */

/*Barra de Navegação - Fixa, horizontal*/
header nav {
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style-type: none;
    font-stretch: condensed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    padding: 12px;
    color: var(--e-global-color-7);
    text-decoration: none;
}

header nav ul li a:hover:not(.active):not(.logoA) {
    color: #0a0909;
    background-color: var(--e-global-color-7);
}

.active {
    background-color: #474747;
}

.user {
    right: 0;
    position: fixed;
    margin: 0 10px;
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    padding: 12px;
    color: var(--e-global-color-7);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #fff;
    min-width: 130px;
    box-shadow: 3px 6px 16px 0px rgb(0 0 0 / 50%);
    z-index: 11;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #b9b9b9;
}

.dropdown-content a:hover {
    background-color: #8d8d8d
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: rgb(10, 9, 9);
    background-color: var(--e-global-color-7);
}

/* Principal - Seção*/
section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Seção - Inicio - Titular */
.scn_title {
    width: 100%;
    margin: auto;
    text-align: center;
}

.scn_title h1,
.scn_title h2,
.scn_title h3 {
    color: var(--e-global-color-6);
    text-transform: none;
    font-size: xx-large;
    font-weight: bold;
    margin: 10px auto;
    width: 60%;
    border-bottom: 3px var(--e-global-color-6) solid;
}

.scn_title p {
    color: var(--e-global-color-5);
    text-transform: none;
    font-size: medium;
    margin: 3px auto;
}

.scn_menu {
    width: 100%;
    display: block;
    overflow: hidden;
}

.btn_menu {
    color: #fff;
    background: #000;
    display: block;
    width: 60%;
    user-select: none;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    transition: background-color 1s;
}
.btn_menu:hover{
    background: #2f2f2f !important;
}

div#grafico {
    margin: 0 auto;
    background: #c1c1c1b8;
    box-shadow: 0px 2px 14px 2px #04040482;
    width: 95%;
    border-radius: 5px;
}


/* Rodapé */
footer {
    width: 100%;
    background-color: var(--e-global-color-4);
    color: var(--e-global-color-7);
    font-size: 0.875em;
    bottom: 0;
}

.main_footer .content {
    float: left;
    width: 90%;
    margin: 0 10px;
    padding: 10px 0;
}

.container {
    float: left;
    width: 100%;
}

.subfooter {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2em;
}

.subfooter ul {
    width: 100%;
    float: left;
}

.subfooter ul li {
    padding: 0.2em 0em;
}

.subfooter ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

.subfooter ul li a i {
    font-size: 0.5em;
}

.subfooter ul li a:hover {
    text-decoration: underline;
}

.subfooter .titleFooter {
    font-family: 'open_sansregular';
    font-size: 1.3em;
    color: var(--e-global-color-7);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px var(--e-global-color-7) solid;
}

.subfooter p {
    font-family: 'open_sanslight';
    color: var(--e-global-color-7);
    font-size: 1em;
    height: 25px;
}

.main_footer_copy {
    background-color: var(--e-global-color-5);
    width: 100%;
    float: left;
    text-align: center;
    padding: 1.5em 0em;
}

.main_footer_copy p {
    font-family: 2 'open_sanslight';
    font-size: 1em;
    color: var(--e-global-color-7);
    height: 20px;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 0.96em;
}

.main_footer_copy .by a {
    color: var(--e-global-color-7);
    text-decoration: none;
}

.main_footer_copy .by a:hover {
    text-decoration: underline;
}

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em) {

    .subfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .subfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
    }

}