body{
    font-family: 'Times New Roman', Arial, sans-serif, serif;
    background-color: rgb(130, 236, 255);
    margin: 0px;
    padding: 0px;
    border: 0px;
    scroll-behavior: smooth;
    width: 600px;
}


/*Barra de Navegação - Fixa, horizontal*/
header nav{
    width: 100%;
    position: fixed;
    top: 0;
    height: 30px;
}
header nav ul{
    list-style-type: none;
    color: black;
    font-stretch: condensed;
    margin: 0;
    padding: 0 0 0 0;
    overflow: hidden;
    background-color: #333;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    display: block;
    padding: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header nav ul li a:hover:not(.active):not(.logoA){
    color: rgb(10, 9, 9);
    background-color: rgb(239, 254, 255);
}
.active{
    background-color: #474747;
}

/*Logo da ElGames*/
.logoBarra{
    float: left;
    background-color: #333;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}


section{
    padding-left: 10px;
}
